<!DOCTYPE html>
<html>
    <head>
        <% include headerStuff %>
    </head>
    <body>    
        <div id="main" class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <input id="search-box" type="text" class="form-control" placeholder="Introduce el nombre del componente para el pc...">
                        <span class="input-group-btn">
                            <button id="search" class="btn btn-primary" type="button">Buscar</button>
                        </span>
                    </div>
                </div>
            </div>  
            <div class="row"> <!-- Aquí añado los elementos --></div>
         </div>
        <% include footer %>
        <script src="/javascripts/index.js"></script>
    </body>
</html>

